body{   
  overflow: hidden;
  font-family:sans-serif;
}

.bg
{
    background-color: #131313;
    font-size: 40px;
    color:white;
    position: fixed;
    top: 0px;
    left: 0%;
    width: 100%;
    height: 100%;
}

.bg img
{   
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: 1s;
}



.bg2
{


        background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        border-radius: 20px;
        border:1px solid rgba(255, 255, 255, 0.18);
        box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}





@media (min-width: 872px){        /*=-=-=-=-=-=-=-=-=-=   INNE   =-=-=-=-=-=-=-=-=-=*/

    .bg2
    {
        position: absolute;
        float: left;
        left: 20%;
        width: 60%;
        top: 10%;
        height: 80%;
    }



    form
{
    position: absolute;
    top: 140px;
    bottom: 5%;
    left: 1%;
    right: 1%;
    font-size: 40px;
    text-shadow: 3px 3px #131313;
    
}
h1
{        
    text-align: center;
    color: white;
    text-shadow: 4px 4px #131313;
    font-size: 60px;
}
    #fullname
    {
        position: absolute;
        left: 0%;
        width: 50%;
        height: 120px;
    }
    #emailaddress
    {
        position: absolute;
        left: 50%;
        width: 50%;
        height: 120px;
    }
    #message1
    {
    
        position: absolute;
        top: 120px;
        width: 100%;
        height: 300px;
    }
    
    #wyslij
    {
        position: absolute;
        float: left;
        bottom: 0%;
        left: 40%;
        height: 20%;
        width: 200px;
    
    }
    #wyslij input
    {
        width: 100%;
        background-color: #5134f3;
        font-weight: bold;
        color: white;
    }
    
    input
    {
        border: 2px solid #131313;
        border-radius: 7px;
        width: 70%;
        font-size: 17px;
        padding: 10px;
    
    }
    
    textarea
    {
        position: absolute;
        margin-top: 10px;
        position: absolute;
        float: left;
        left: 0%;
        width:100%;
        height: 80%;
        box-sizing: border-box;
        resize:none;
        border: 2px solid #131313;
        border-radius: 7px;
        width: 70%;
        font-size: 17px;
        padding: 10px;
        width: 100%;
    }

}

/*=-=-=-=-=-=-=-=-=-=*//*=-=-=-=-=-=-=-=-=-=*//*=-=-=-=-=-=-=-=-=-=*/
/*=-=-=-=-=-=-=-=-=-=*//*=-=-=-=-=-=-=-=-=-=*//*=-=-=-=-=-=-=-=-=-=*/
/*=-=-=-=-=-=-=-=-=-=*//*=-=-=-=-=-=-=-=-=-=*//*=-=-=-=-=-=-=-=-=-=*/
/*=-=-=-=-=-=-=-=-=-=*//*=-=-=-=-=-=-=-=-=-=*//*=-=-=-=-=-=-=-=-=-=*/
/*=-=-=-=-=-=-=-=-=-=*//*=-=-=-=-=-=-=-=-=-=*//*=-=-=-=-=-=-=-=-=-=*/


@media (max-width: 872px){        /*=-=-=-=-=-=-=-=-=-=   TELEFON   =-=-=-=-=-=-=-=-=-=*/

.bg2
{
    position: absolute;
    float: left;
    left: 5%;
    width: 90%;
    top: 5%;
    height: 90%;
}




form
{
    position: absolute;
    top: 90px;
    bottom: 5%;
    left: 1%;
    right: 1%;
    font-size: 25px;
    text-shadow: 3px 3px #131313;
    
}
h1
{        
    text-align: center;
    color: white;
    text-shadow: 4px 4px #131313;
    font-size: 40px;
}
#fullname
{

    position: absolute;
    left: 0%;
    width: 100%;
    height: 80px;
}
#emailaddress
{

    position: absolute;
    top: 80px;
    left: 0%;
    width: 100%;
    height: 80px;
}
#message1
{

    position: absolute;
    top: 160px;
    width: 100%;
    height: 70%;
}

#wyslij
{
    position: absolute;
    float: bottom;
    top: 95%;
    bottom: 0%;
    left: 30%;
    height: 20%;
    width: 40%;

}
#wyslij input
{
    width: 100%;
    background-color: #5134f3;
    font-weight: bold;
    color: white;
}

input
{
    border: 2px solid #131313;
    border-radius: 7px;
    width: 70%;
    font-size: 17px;
    padding: 5px;

}

textarea
{
    position: absolute;
    margin-top: 10px;
    position: absolute;
    float: left;
    left: 0%;
    width:100%;
    height: 70%;
    box-sizing: border-box;
    resize:none;
    border: 2px solid #131313;
    border-radius: 7px;
    width: 70%;
    font-size: 17px;
    padding: 10px;
    width: 100%;
}
}





textarea:hover,
input:hover,
input:focus
{
    border: 5px solid #0066ff;
    border-radius: 10px;
}