body
{
    background-color: rgb(19, 19, 19);
    font-family:sans-serif;
}

nav
{   z-index: 1;
    background-color: rgb(19, 19, 19);
    position: fixed !important;
    float: left;
    top: -100px;
    left: 5%;
    width: 90%;
    height: 50px;
    animation:slide-bottom .5s cubic-bezier(.25,.46,.45,.94) both
}
.nav1
{
    background-color: rgb(19, 19, 19);
    position: absolute;
    float: left;
    top: 0%;
    left: 0%;
    height: 100%;
    width: 80%;
    font-size: 20px;
}
.nav1 a[href="https://mateusztomaszek.com.pl/"]
{
    position: absolute;
    text-decoration: none;
    top: 20%;
    align-items: center;
    height: 80%;
    font-weight: bold;
    color: rgb(0, 162, 255);
    
    
}
.nav1 a[href="https://mateusztomaszek.com.pl/"]:hover
{
color: rgb(114, 201, 252);
}

.menu1
{
    
    position: absolute;
    float: left;
    top:0%;
    align-items: center;
    right: 0%;
    height: 51px;
    width: 50px;
    display: flex;
    flex-direction: row;
}
.hover_menu
{
    align-items: center;
    display: none;
    
}
.menu1:hover .hover_menu
{
    display: inline;
    position: absolute;
    left: 0%;
    top: 11%;
}

.menu1 a
{
    margin: 0 1rem;
    text-decoration: none;
    padding: 1rem .5rem;
}
.dropdown
{
    position: relative;
}

.dropdown ul
{
    
    width: 200px;
    text-align: center;
    position: absolute;
    float: left;
    right: 0%;
    top: 10px;
    color:white;
    padding: 0;
    list-style-type: none;
    background-color: rgba(19, 19, 19, 0.425);
    box-shadow: 10px 10px 23px 5px rgba(0,0,0,0.25);
    border-radius: 7px;
    width: 200px;
    display: none;
} 
.dropdown ul li a
{
    color: rgb(0, 162, 255);
    font-size: 20px;
    font-weight: bold;
    width: 100%;
    height: 100%;
    display: inline-block;
    padding: 0;
    margin: 0;

    
}


.dropdown ul li
{
    padding: .5rem;
}
.dropdown ul li:hover
{
    background-color:rgb(42, 53, 61);
    border-radius: 7px;
    
    
}
.menu1:hover .dropdown ul,
.dropdown ul:hover
{
    display: block;
    animation:shadow-drop-2-center .4s cubic-bezier(.25,.46,.45,.94) both;
    animation:tracking-in-expand-fwd .8s cubic-bezier(.215,.61,.355,1.000) both;
}

article
{
    top: 100%;
    position: absolute;
    background-color: blue;
    height: 400%;
    left: 5%;
    width: 90%;
    box-shadow: 10px 10px 23px 5px rgba(0,0,0,0.25);
}


.main1 img
{
    width: 100%;
    height: 100%;
}

.article1
{
    background-color: yellow;
    position: absolute;
    top: 0%;
    height: 30%;
    left: 0%;
    width: 100%;
}

.article2
{
    background-color: green;
    position: absolute;
    left: 0%;
    width: 100%;
    top: 30%;
    height: 30%;
}

.article3
{
    background-color: red;
    position: absolute;
    left: 0%;
    width: 100%;
    top: 60%;
    height: 40%;
}
h1{text-align: center;align-items: center;}
.main1
{
    font-size: 40px;
    color:white;
    position: fixed;
    top: 51px;
    left: 0%;
    width: 100%;
    height: 95%;
    
}


@keyframes shadow-drop-2-center{0%{transform:translateZ(0);box-shadow:0 0 0 0 transparent}100%{transform:translateZ(50px);box-shadow:0 0 20px 0 rgba(0,0,0,.35)}}
@keyframes slide-bottom{0%{transform:translateY(0)}100%{transform:translateY(100px)}}
@keyframes tracking-in-expand-fwd{0%{letter-spacing:-.5em;transform:translateZ(-700px);opacity:0}40%{opacity:.6}100%{transform:translateZ(0);opacity:1}}
