body
{
    text-align: center;
    align-items: center;
    animation-delay: 250ms;
    font-family: Arial;
    font-size: x-large;
}
section
{
    text-align: center;
    align-items: center;
    
}
h1{
    position: absolute;
    top: 20%;
    left: 40%;
}